html{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
  //  font-family: "Hiragino Sans GB", "Helvetica Neue", Helvetica, "Microsoft Yahei", heiti, Arial, sans-serif;
   font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
   font: 16px/1.5;
   height:100%;
}
body{height: 100%}
body,div,p,ul,li,form,input,h1,h2,h3,h4,h5,h6,table,dl,dd,textarea,ol{margin:0;padding:0;}
ul,ol,li{list-style:none;}
img{vertical-align: middle;border:none;display:inline-block;}
a{text-decoration: none;border: none;}
input{outline:none;border:none;}
// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s
// }
//
// .fade-enter, .fade-leave-active {
//   opacity: 0
// }

.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(10px);
  opacity: 0;
}

.router-link-active{
  border-bottom:4px #fff solid;
}
