/* 路由渐变样式及active样式 --start*/
$headerHeight: 60px;
$headerActiveBorderHeight: 4px;
.slide-fade-enter-active {
  transition: all .4s ease;
}

.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-active {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.router-link-active{
  border-bottom:$headerActiveBorderHeight #fff solid;
}
/* 路由渐变样式及active样式 --end*/
#app{
  /* padding-top: $headerHeight + $headerActiveBorderHeight;*/
  min-width: 768px;
}

/* 头部导航条样式 --start*/
header{
  /* background-color: #324057;*/
  /* background-color: rgba(50,64,87,.8);*/
  /* background-color: rgba(50,64,87,.8);*/
  background-color: #324057;
  line-height: $headerHeight;
  color: #fff;
  padding: 0 30px;
  font-family: "Microsoft Yahei";
  /* position: fixed;*/
  /* top: 0;*/
  /* left: 0;*/
  width: 100%;
  /* z-index: 9999;*/
  min-width: 768px;
}

header li{
  display: inline-block;
  margin-right: 24px;
}

.nav-link{
  color:#fff;
  display: inline-block;
  span{
    margin-left: 6px;
  }
}

header li:first-child{
  margin-right: 32px;
  border:none;
  .nav-link{
    img{
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
  }
}

.author{
  float: right;
  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
}
/* 头部导航条样式 --end*/
